{% extends 'PayutcAdminBundle:Entities:show.html.twig' %}

{% block entity_title %}Ticket{% endblock %}

{% block entity_table %}
	<tr>
		<th>Id</th>
		<td>{{ entity.id }}</td>
	</tr>
	<tr>
		<th>Créé le</th>
		<td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
	</tr>
	<tr>
		<th>Modifié le</th>
		<td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
	</tr>
	<tr>
		<th>Code bar</th>
		<td>{{ entity.barcode }}</td>
	</tr>
	<tr>
		<th>Prénom</th>
		<td>{{ entity.firstname }}</td>
	</tr>
	<tr>
		<th>Nom de famille</th>
		<td>{{ entity.lastname }}</td>
	</tr>
	<tr>
		<th>Payé le</th>
		<td>{{ entity.paidAt|date('Y-m-d H:i:s') }}</td>
	</tr>
	<tr>
		<th>Prix payé</th>
		<td>{{ entity.paidPrice }}</td>
	</tr>
	<tr>
		<th>Acheteur</th>
		<td>{{ entity.buyer }}</td>
	</tr>
	<tr>
		<th>Vendeur</th>
		<td>{{ entity.seller }}</td>
	</tr>
	<tr>
		<th>Tarif</th>
		<td>{{ entity.price }}</td>
	</tr>
{% endblock %}

{% block entity_state_link %}{% endblock %}
		
{% block entity_list_path %}href="{{ path('payutc_admin_tickets') }}"{% endblock %}

{% block entity_edit_path %}href="{{ path('payutc_admin_ticket_edit', { 'id': entity.id }) }}"{% endblock %}

{% block entity_delete_path %}action="{{ path('payutc_admin_ticket_remove', { 'id': entity.id }) }}"{% endblock %}