{% extends '::base.html.twig' %}

{% block title %}Onyx{% endblock %}

{% block stylesheets %}
	<link rel='stylesheet' href='{{ asset('bundles/payutconyx/css/vendor/bootstrap/bootstrap-3.0.0.min.css') }}' />
{% endblock %}

{% block head_javascripts %}
	<script src='{{ asset('bundles/payutconyx/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}'></script>
{% endblock %}

{% block body %}
	<section id='app-onyx-wrapper' class='container'>
		{% if app.session.flashbag.all %}
			{% for message, type in app.session.flashbag.all %}
				<div class='alert alert-{{ type }}'>
					<p>{{ message }}</p>
				</div>
			{% endfor %}
		{% endif %}
		<div class='row'></div>
		{% block app_content %}{% endblock %}
	</section>
{% endblock %}

{% block javascripts %}
	<script src='{{ asset('bundles/payutconyx/js/vendor/jquery-1.10.1.min.js') }}'></script>
	<script src='{{ asset('bundles/payutconyx/js/vendor/bootstrap/bootstrap-3.0.0.min.js') }}'></script>
{% endblock %}