{% extends '::base.html.twig' %}

{% block title %}Onyx{% endblock %}

{% block stylesheets %}
	<link rel='stylesheet' href='{{ asset('bundles/payutconyx/css/app.min.css') }}' />
{% endblock %}

{% block head_javascripts %}
    <script src='{{ asset('bundles/payutconyx/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}'></script>
{% endblock %}

{% block body %}
	<nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class='container'>
			<div class='navbar-header'>
				<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#app-navbar'>
					<span class='sr-only'>Contrôleur de navigation</span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
				</button>
				<a class='navbar-brand' href='{{ path('pay_utc_onyx_home_page') }}'>Onyx</a>
			</div>
			<div class='collapse navbar-collapse container' id='app-navbar'>
				<ul class='nav navbar-nav navbar-right'>
					<li class='dropdown'>
						{% if app.user %}
							<a href='#' class='dropdown-toggle' data-toggle='dropdown'>{{ app.user.username }} <b class='caret'></b></a>
							<ul class='dropdown-menu'>
								<li><a href='#'>Tableau de bord</a></li>
								<li><a href='{{ path('pay_utc_onyx_logout_page') }}'>Se déconnecter</a></li>
							</ul>
						{% else %}
							<a href='#' class='dropdown-toggle' data-toggle='dropdown'>Mon compte <b class='caret'></b></a>
							<ul class='dropdown-menu'>
								<li><a href='{{ path('pay_utc_onyx_login_page') }}'>Se connecter</a></li>
								<li><a href='{{ path('pay_utc_onyx_registration_page') }}'>S'inscrire</a></li>
							</ul>
						{% endif %}
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<section id='app-onyx-wrapper' class='container'>
		{% for type, messages in app.session.flashbag.all %}
			{% for message in messages %}
				<div class='alert alert-{{ type }} alert-dismissable'>
					<a href='#' data-dismiss='alert' class='close' aria-hidden='true'>&times;</a>
					<div>{{ message }}</div>
				</div>
			{% endfor %}
		{% endfor %}
		{% block app_content %}{% endblock %}
	</section>
{% endblock %}

{% block javascripts %}
    <script src='{{ asset('bundles/payutconyx/js/vendor/jquery-1.10.1.min.js') }}'></script>
    <script src='{{ asset('bundles/payutconyx/js/vendor/bootstrap/bootstrap-3.0.0.min.js') }}'></script>
{% endblock %}