{% extends 'PayutcOnyxBundle::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel='stylesheet' href='{{ asset('bundles/payutconyx/css/event.min.css') }}' />
{% endblock %}

{% block app_content %}
	<header id='event-detail-header' class='page-header'>
		<h1>{{ event.title }}</h1>
	</header>
	<section id='event-detail' class='row'>
		<div class='col-lg-8 col-md-8 col-sm-7 col-xs-12'>
			<p id='event-detail-dates'><i class='glyphicon glyphicon-clock-o'></i> Du {{ event.startAt|date('j') ~ ' ' ~ months[event.startAt|date('n')] ~ ' ' ~ event.startAt|date('Y') ~ ' jusqu\'au ' ~ event.endAt|date('j') ~ ' ' ~ months[event.endAt|date('n')] ~ ' ' ~ event.endAt|date('Y') }}</p>
			<hr />
			<figure id='event-detail-header-figure'>
				<img id='event-detail-header-figure-picture' src='{{ asset(event.getHeaderPictureWebPath) }}' alt='{{ event.title }}' />
			</figure>
			<hr />
			<div class='row'>
				<figure id='event-detail-description' class='col-lg-3 col-md-3 col-sm-3 col-xs-4'>
					<img id='event-detail-description-picture' src='{{ asset(event.getThumbnailWebPath) }}' alt='{{ event.title }}' />
				</figure>
				<div class='col-lg-9 col-md-9 col-sm-9 col-xs-8'>
					<p id='event-detail-dates'>{{ event.content }}</p>
				</div>
			</div>
		</div>
		<div class='col-lg-4 col-md-4 col-sm-5 col-xs-12'>
			<div class='panel panel-info'>
				<div class='panel-heading'>Mes places</div>
				<div class='panel-body'>
					{% if is_granted('ROLE_USER') %}
						{% if tickets %}
							<table class='table table-hover table-bordered table-condensed table-responsive'>
								<thead>
									<tr>
										<th>Tarif</th>
										<th>Payé le</th>
										<th>Somme</th>
									</tr>
								</thead>
								<tbody>
									{% for ticket in tickets %}
										{% if ticket.paidAt %}
											<tr>
												<td>{{ ticket.price.title }}</td>
												<td>{{ ticket.paidAt|date('d') ~ ' ' ~ months[ticket.paidAt|date('n')] ~ ' ' ~ ticket.paidAt|date('Y') }}</td>
												<td>{{ ticket.paidPrice ~ '€' }} <a href='{{ path('pay_utc_onyx_ticket_send_page', { 'ticketId': ticket.id }) }}' class='pull-right'><i class='glyphicon glyphicon-print'></i></a></td>
											</tr>
										{% endif %}
									{% endfor %}
								</tbody>
							</table>
						{% endif %}
					{% elseif is_granted('ROLE_CONNECTION') %}
						<p>Malheureusement, ce login de test ne peut acheter de ticket. Connectez-vous avec un compte Onyx pour réserver des places !</p>
					{% else %}
						<p><a href='{{ path('pay_utc_onyx_login_page') }}'>Connectez-vous</a> pour voir vos places et les tarifs qui vous sont proposés !</p>
					{% endif %}
				</div>
			</div>
			<div class='panel panel-info'>
				<div class='panel-heading'>Tarifs</div>
				<div class='panel-body'>
					{% for price in prices %}
						<article class='price'>
							<h5>{{ price.title }} <span class='pull-right'>{{ price.price ~ '€' }}</span></h5>
						</article>
						{% if not loop.last %}
							<hr />
						{% endif %}
					{% endfor %}
					<div class='link-wrapper'>
						<a href='{{ path('pay_utc_onyx_event_ticket_book_page', { 'id': event.id }) }}' class='btn btn-info'>Réserver</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
