{% extends 'PayutcAdminBundle:Entities:index.html.twig' %}

{% block entity_title %}Utilisateurs{% endblock %}

{% block entity_add_path %}href='{{ path('payutc_admin_ticket_new') }}'{% endblock %}

{% block entity_add_label %}Ajouter un utilisateur{% endblock %}

{% block extra_before_list %}{% endblock %}

{% block entity_table_headers %}
    <th>Prénom</th>
    <th>Nom</th>
    <th>Actions</th>
{% endblock %}

{% block entity_table_content %}
    <td>{{ entity.firstname }}</td>
    <td>{{ entity.lastname }}</td>
    <td>
        <div><a href='{{ path('payutc_admin_ticket_show', { 'id': entity.id }) }}'>Détail</a></div>
        <div><a href='{{ path('payutc_admin_ticket_edit', { 'id': entity.id }) }}'>Editer</a></div>
        {% if entity.isHidden %}
            <div><a href='{{ path('payutc_admin_ticket_activate', { 'id': entity.id }) }}'>Activer</a></div>
        {% else %}
            <div><a href='{{ path('payutc_admin_ticket_unactivate', { 'id': entity.id }) }}'>Désactiver</a></div>
        {% endif %}
    </td>
{% endblock %}

{% block extra_after_list %}{% endblock %}

{% block entity_add_path_2 %}href='{{ path('payutc_admin_ticket_new') }}'{% endblock %}

{% block entity_add_label_2 %}Ajouter un utilisateur{% endblock %}