{% extends 'PayutcAdminBundle:Entities:show.html.twig' %}

{% block entity_title %}Utilisateur{% endblock %}

{% block entity_table %}
	<tr>
		<th>Id</th>
		<td>{{ entity.id }}</td>
	</tr>
	<tr>
		<th>Enregistré le</th>
		<td>{{ entity.registredAt|date('Y-m-d H:i:s') }}</td>
	</tr>
	<tr>
		<th>Prénom</th>
		<td>{{ entity.firstname }}</td>
	</tr>
	<tr>
		<th>Nom de famille</th>
		<td>{{ entity.name }}</td>
	</tr>
	<tr>
		<th>Email</th>
		<td>{{ entity.email }}</td>
	</tr>
{% endblock %}

{% block entity_state_link %}{% endblock %}
		
{% block entity_list_path %}href="{{ path('payutc_admin_users') }}"{% endblock %}

{% block entity_edit_path %}href="{{ path('payutc_admin_user_edit', { 'id': entity.id }) }}"{% endblock %}

{% block entity_delete_form %}{% endblock %}