{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ticket</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Removedat</th>
                <td>{{ entity.removedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Barcode</th>
                <td>{{ entity.barcode }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <th>Paidat</th>
                <td>{{ entity.paidAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Paidprice</th>
                <td>{{ entity.paidPrice }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tickets') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tickets_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
