{% extends 'PayutcAdminBundle:Entities:show.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' href='{{ asset('bundles/payutconyx/css/home.min.css') }}' />
{% endblock %}

{% block entity_title %}Evènement{% endblock %}

{% block entity_table %}
    <tr>
        <th>Id</th>
        <td>{{ entity.id }}</td>
    </tr>
    <tr>
        <th>Créé le</th>
        <td>{{ entity.createdAt|date('d-m-Y H:i:s') }}</td>
    </tr>
    <tr>
        <th>Modifié le</th>
        <td>{{ entity.updatedAt|date('d-m-Y H:i:s') }}</td>
    </tr>
    <tr class='{% if entity.isHidden %}text-muted{% else %}text-info{% endif %}'>
        <th>Actif ?</th>
        <td>{% if entity.isHidden %}Non{% else %}Oui{% endif %}</td>
    </tr>
    <tr>
        <th>Nom</th>
        <td>{{ entity.title }}</td>
    </tr>
    <tr>
        <th>Début de l'évènement</th>
        <td>{{ entity.startAt|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
        <th>Fin de l'évènement</th>
        <td>{{ entity.endAt|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
        <th>Miniature</th>
        <td><img class='event-thumbnail' src='{{ asset(entity.getThumbnailWebPath) }}' alt='Miniature'></td>
    </tr>
    <tr>
        <th>Image d'en-tête</th>
        <td><img class='event-header-picture' src='{{ asset(entity.getHeaderPictureWebPath) }}' alt='En-tête'></td>
    </tr>
    <tr>
        <th>Nombre de places</th>
        <td>{{ entity.capacity }}</td>
    </tr>
    <tr>
        <th>Nombre de places par acheteur</th>
        <td>{{ entity.maxPlacesForUser }}</td>
    </tr>
    <tr>
        <th>FundationId</th>
        <td>{{ entity.fundationId }}</td>
    </tr>
    <tr>
        <th>Contenu</th>
        <td>{{ entity.content }}</td>
    </tr>
{% endblock %}

{% block extra_after_detail %}
    <div class='panel panel-default'>
        <div class='panel-heading'><strong>Rendu sur la Home Page</strong></div>
        <div class='panel-body'>
            <section id='events' class='row'>
                <div class='event-wrapper col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                    <article class='event'>
                        <div class='event-thumbnail-wrapper'>
                            <div class='event-thumbnail-background'></div>
                            <figure class='event-thumbnail'>
                                <img class='event-picture' src='{{ asset(entity.getThumbnailWebPath) }}' alt='{{ entity.title }}' />
                            </figure>
                            <p class='event-places'>{{ entity.capacity }} places</p>
                            <div class='event-booking-link-wrapper'>
                                <a href='#detail' class='btn btn-sm btn-default'>Détail</a>
                            </div>
                        </div>
                        <h4 class='event-title'>{{ entity.title }}</h4>
                        <h6 class='event-date'>Du {{ entity.startAt|date('d-m-Y') }} jusqu'au {{ entity.endAt|date('d-m-Y') }}</h4>
                    </article>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
        
{% block entity_list_path %}href="{{ path('payutc_admin_events') }}"{% endblock %}

{% block entity_edit_path %}href="{{ path('payutc_admin_event_edit', { 'id': entity.id }) }}"{% endblock %}

{% block entity_delete_path %}action="{{ path('payutc_admin_event_remove', { 'id': entity.id }) }}"{% endblock %}